<nav class="navbar" style="background-color: #0e0e0e; padding: 10px;">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center">
      <img src="logofinal.png" alt="Logo" class="logo" style="height: 100px; margin-left: -60px; margin-top: -20px; margin-bottom: -20px;">
      <a class="navbar-brand text-white" href="#"></a>
    </div>

    <ul class="navbar-nav d-flex flex-row mb-0" style="margin-right: -40px;">
        <li class="nav-item mx-3">
          <a class="btn btn-outline-light <%= activePage === 'home' ? 'active' : '' %>" href="/">home.</a>
        </li>

        <li class="nav-item mx-3">
          <a class="btn btn-outline-light <%= activePage === 'about' ? 'active' : '' %>" href="/about">about.</a>
        </li>

        <li class="nav-item mx-3">
          <a class="btn btn-outline-light <%= activePage === 'portfolio' ? 'active' : '' %>" href="/portfolio">portfolio.</a>
        </li>

        <li class="nav-item mx-3">
          <a class="btn btn-outline-light <%= activePage === 'contact' ? 'active' : '' %>" href="/contact">contact.</a>
        </li>
    </ul>
    
  </div>
</nav>
